<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="708d61">  <td>23/07/23 22:31:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checktest.b()[pri:2, instance:test23.Checktest@10d307f1]">b</td> 
  <td>main@517254671</td>   <td></td> </tr>
<tr bgcolor="708d61">  <td>23/07/23 22:31:33</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checktest.c()[pri:0, instance:test23.Checktest@10d307f1]">c</td> 
  <td>main@517254671</td>   <td></td> </tr>
<tr bgcolor="708d61">  <td>23/07/23 22:31:33</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checktest.d()[pri:0, instance:test23.Checktest@10d307f1]">d</td> 
  <td>main@517254671</td>   <td></td> </tr>
<tr bgcolor="708d61">  <td>23/07/23 22:31:33</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Checktest.a()[pri:1, instance:test23.Checktest@10d307f1]">a</td> 
  <td>main@517254671</td>   <td></td> </tr>
</table>
